// @import "~bootstrap/scss/bootstrap";
@import "~normalize.css/normalize.css";
@import "variables";
@import "mixins";

@font-face {
    font-family: 'ultramagnetic_light';
    src: url('../fonts/Ultramagnetic Light.ttf') format('truetype');
}

#body.lemonlemon {
    background-image: url('../images/lemon-campaign-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: center;
    cursor: pointer;

    &.hidden {
        background: #fff;

        .primary-logo,
        .main {
            display: none;
        }
    }
}


body {
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 0.75rem;
    line-height: 1.35rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.primary-logo {
    position: relative;

    img {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 10px;
        left: 10px;
        z-index: 999;

        &:hover {
            animation: scale-up-down 0.6s;
        }
    }
}

@keyframes scale-up-down {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(0.9);
    }

    70% {
        transform: scale(1.2);
    }

    90% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.0);
    }
}

#bubble-section,
.loading-screen {
    position: relative;
    width: 100%;
    height: 100%;

    .bubble-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .bubbles {
            width: 100%;
            height: auto;

            circle {
                stroke: white;
                fill: none;
            }

            >g>g:nth-of-type(3n) circle {
                stroke: white;
            }

            >g>g:nth-of-type(4n) circle {
                stroke: white;
            }
        }
    }
}

.bubbles-large {
    overflow: visible;

    >g {
        opacity: 0;
        transform: translateY(800px);
        will-change: transform, opacity;
    }

    g.first-bubble {
        animation: up 3s 250ms infinite;

        g {
            transform: translateX(900px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }

    g:nth-of-type(2) {
        animation: up 2s 500ms ease-in infinite;

        g {
            transform: translateX(400px);
        }

        circle {
            animation: wobble 2s infinite ease-in-out;
        }

    }

    g:nth-of-type(3) {
        animation: up 2s 200ms ease-in-out infinite;

        g {
            transform: translateX(600px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }

    g:nth-of-type(4) {
        animation: up 2s 400ms linear infinite;

        g {
            transform: translateX(700px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }

    }

    g:nth-of-type(5) {
        animation: up 2s 300ms ease-out infinite;

        g {
            transform: translateX(900px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }

    }
}


.bubbles-small {
    overflow: visible;

    >g {
        opacity: 0;
        transform: translateY(800px);
        will-change: transform, opacity;
    }

    .first-bubble {
        animation: up 3s 200ms ease-out infinite;

        g {
            transform: translateX(400px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }

    g:nth-of-type(2) {
        animation: up 3s 200ms ease-out infinite;

        g {
            transform: translateX(500px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }

    g:nth-of-type(3) {
        animation: up 4s 200ms ease-out infinite;

        g {
            transform: translateX(600px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }

    g:nth-of-type(4) {
        animation: up 5s 200ms ease-out infinite;

        g {
            transform: translateX(700px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }

    g:nth-of-type(5) {
        animation: up 4s 300ms ease-out infinite;

        g {
            transform: translateX(800px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }

    g:nth-of-type(6) {
        animation: up 3s 500ms ease-out infinite;

        g {
            transform: translateX(550px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }

    g:nth-of-type(7) {
        animation: up 5s 300ms ease-out infinite;

        g {
            transform: translateX(620px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }

    g:nth-of-type(8) {
        animation: up 3s 300ms ease-out infinite;

        g {
            transform: translateX(780px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }

    g:nth-of-type(9) {
        animation: up 4s 200ms ease-out infinite;

        g {
            transform: translateX(440px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }

    g:nth-of-type(9) {
        animation: up 3s 200ms ease-out infinite;

        g {
            transform: translateX(1000px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }

    g:nth-of-type(10) {
        animation: up 3s 300ms ease-out infinite;

        g {
            transform: translateX(950px);
        }

        circle {
            animation: wobble 3s infinite ease-in-out;
        }
    }
}

.header-wrapper {
    @include clearfix();
    width: 100%;
    height: 100%;
    margin-left: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;

    .header-container {
        margin-top: 300px;

        h1 {
            margin: 0;
            text-transform: uppercase;
            font-size: 5.2rem;
            line-height: 5rem;
            font-family: 'ultramagnetic_light';
            font-style: normal;
            font-weight: lighter;
            text-shadow: 4px 4px 20px rgba(28, 44, 43, 0.9);
            transform: translateY(1000px);
            animation: up-and-down 1s;
            animation-fill-mode: both;
            user-select: none;
        }

        // h1:nth-of-type(1) {

        // }

        // h1:nth-of-type(2) {
        //     animation: up-and-down 1s;
        //     animation-fill-mode: both;
        // }

        p {
            font-family: 'ultramagnetic_light';
            font-size: 1.2em;
            line-height: 1.6em;
            transform: translateY(1000px);
            margin: 0;
            animation: up-and-down 1.2s;
            animation-fill-mode: both;
            user-select: none;
        }

        a {
            position: absolute;
            top: 21rem;
            left: -95px;
            width: 90px;
            height: 90px;
            cursor: pointer;
            font-size: 1.2em;
            background: #75e520;
            border-radius: 50%;
            text-align: center;
            line-height: 90px;
            font-weight: bold;
            user-select: none;

            &:hover {
                animation: scale-up-down 0.5s;
            }
        }
    }
}

@keyframes wobble {

    33% {
        transform: translateX(-60px);
    }

    66% {
        transform: translateX(60px);
    }

}

@keyframes up {

    0% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1600px);
    }

}

@keyframes up-and-down {
    90% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.circle-wrap {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background: #e6e2e7;
    border-radius: 50%;
    position: absolute;
    @include centerer();
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 60px, 60px, 30px);
}

.circle-wrap .circle .mask .fill {
    clip: rect(0px, 30px, 60px, 0px);
    background-color: #00ff40;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(180deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.circle-wrap .inside-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    text-align: center;
    position: absolute;
    z-index: 300;
    font-weight: 700;
    font-size: 10px;
    background-color: #00ff40
}

.loading-screen {   
    .bubbles-large,
    .bubbles-small {
        >g {
            opacity: 0;
            transform: translateY(400px);
            will-change: transform, opacity;
        }

        g:nth-of-type(1) g {
            animation-delay: 0;
            transform: translateX(300px);

            circle {
                fill: #00ff40 !important;
            }
        }

        g:nth-of-type(2) g {
            animation-delay: 0;
            transform: translateX(320px);

            circle {
                fill: #00ffff !important;
            }
        }

        g:nth-of-type(3) g {
            animation-delay: 0;
            transform: translateX(340px);

            circle {
                fill: #80ff80 !important;
            }
        }

        g:nth-of-type(4) g {
            animation-delay: 0;
            transform: translateX(310px);

            circle {
                fill: #00ffff !important;
            }
        }
    }

    .bubbles-small>g {
        opacity: 0;
        transform: translateY(400px);
        will-change: transform, opacity;
    }
    .loading-finished {
        display: none;
    }
    &.is-active .loading-finished {
        display: block;
        width: 100%;
        height: 100%;
        .bubbles {
            width: 100%;
            height: auto;
            > g {
                will-change: transform, opacity;                
            } 
            > g g {
                animation: big 2s;
            }
            g.first-child  {               
                transform: translate(10%, 10%);    
                circle {
                    fill: #00ff40 !important;
                }
            }
    
            g:nth-of-type(2) {
                
                transform: translate(20%, 5%);
    
                circle {
                    fill: #00ffff !important;
                }
            }
    
            g:nth-of-type(3)  {
                
                transform: translate(50%, 7%);
    
                circle {
                    fill: #80ff80 !important;
                }
            }
    
            g:nth-of-type(4)  {
               
                transform: translate(60%, 8%);
    
                circle {
                    fill: #00ffff !important;
                }
            }
            g:nth-of-type(4)  {
               
                transform: translate(50%, 22%);
    
                circle {
                    fill: #fff !important;
                }
            }
            g:nth-of-type(5)  {
               
                transform: translate(70%, 22%);
    
                circle {
                    fill: #0080c0 !important;
                }
            }
            g:nth-of-type(6)  {
               
                transform: translate(5%, 22%);
    
                circle {
                    fill: #00ff00 !important;
                }
            }
            g:nth-of-type(7)  {
               
                transform: translate(80%, 8%);
    
                circle {
                    fill: #fff !important;
                }
            }
            g:nth-of-type(8)  {
               
                transform: translate(60%, 5%);
    
                circle {
                    fill: #ffff00 !important;
                }
            }
            g:nth-of-type(9)  {
               
                transform: translate(50%, 12%);
    
                circle {
                    fill: #ffff00 !important;
                }
            }
            g:nth-of-type(10)  {
               
                transform: translate(85%, 5%);
    
                circle {
                    fill: #777788 !important;
                }
            }
        }
    }
}

.side_shape_front,
.side_shape_back {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: auto;
    transform: translateY(-50%);
    transition: height 0.3s cubic-bezier(0.85, 0.21, 0.165, 0.78), transform 0.3s cubic-bezier(0.85, 0.21, 0.165, 0.78);
    pointer-events: none;
}

.side_shape_back,
.side_shape_front {
    height: 250%;
}

.navigation-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &.hidden {
        display: none;
    }

    &.is-show {
        animation: show-navigation 1s;
        animation-fill-mode: both;
    }

    &.is-active {
        .side_shape_back {
            height: 360%;
            z-index: -6;

            path {
                display: block !important;
            }
        }

        .side_shape_front {
            height: 270%;
            z-index: -5;
            transform: translate(0, -50%) !important;

            path {
                display: block !important;
            }
        }

        .nav-bar {

            li.current-item,
            li.active {
                &:hover {
                    a {
                        padding-right: 25px;
                        font-size: 1.5em;
                        color:#00ab51;
                    }                   
                }
                .item_dot {
                    background: #00ab51;

                    &:hover {
                        animation: pulse 1s infinite;
                        box-shadow: 0 0 0 1.2em #ede9e1;
                    }
                }

                a {
                    font-weight: bold;
                    font-size: 1.2em;
                   
                }
            }

            .item_dot {
                box-shadow: inset 0 0 0 2px #00ab51;

            }

            a {
                transform: translateX(0);
                font-size: 1.2em;
            }
        }
    }

    .navigation-media {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        z-index: -10;

        .side_shape_back {
            path {
                fill: #00ab51;
                display: none;
            }

            .side_shape_back_3 {
                display: block;
            }
        }

        .side_shape_front {
            transform: translate(100%, -50%);

            path {
                fill: #fff;
                display: none;
            }
        }

        .side_navigation_hitarea {
            display: none;
            position: absolute;
        }

    }

    .nav-bar {
        position: relative;
        display: block;
        padding-left: 0;
        list-style-type: none;
        z-index: 10;

        li {
            position: relative;
            display: block;
            padding: 0.8rem 1.2rem;
            list-style-type: none;
            cursor: pointer;

            &.active {
                .item_dot {
                    background: #fff;
                }
            }
        }

        a {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 47px;
            text-decoration: none;
            padding-right: 10px;
            padding-left: 20px;
            display: flex;
            color: #777788;
            align-items: center;
            font-family: 'bentonsanscomp_lightregular', sans-serif;
            font-weight: normal;
            font-style: normal;
            white-space: nowrap;
            transform: translateX(200px);
            will-change: color, transform, padding-right;
            transition: color 0.3s linear, padding-right 0.4s cubic-bezier(0.785, -0.565, 0.245, 1.64), transform 0.5s;
        }
    }
}

.item_dot {
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 50%;
    transition: box-shadow 0.3s cubic-bezier(0.85, 0.21, 0.165, 0.78);

}

@keyframes show-navigation {
    0% {
        transform: translate(200px, -50%);
    }

    90% {
        transform: translateX(-50px, -50%);
    }

    100% {
        transform: translateX(0, -50%);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #ede9e1;
    }
}

@keyframes big {   
    50% {
        transform: scale(5) translate(-4%, -4%);       
        opacity: 0.5; 
    }
    100% {
        transform: scale(5) translateY(-20%);       
        opacity: 0; 
    }
   
}

.loading-screen.is-active {
    .bubble-container, .circle-wrap {
        display: none;
    }
}